/* src/components/TopMovers/TopMovers.css */
.top-movers {

}

.nav-link {
  cursor: pointer;
}

.table th, .table td {
  text-align: left;
}

.ticker {
  font-weight: bold;
}

.percentage {
  color: green; /* Adjust color as needed */
}

.percentage.negative {
  color: red;
}

table {
  margin: 0;
}
.pagination {
  margin: 1rem 0;
}

.dark .table-dark {
  --bs-table-bg: #293042;
  --bs-table-striped-bg:#f4f7f90d;
}