// src/styles/theme.scss

$theme-light: (
  background-color: #ffffff,
  text-color: $text-color-dark,
  primary-color: $primary-color,
);

$theme-dark: (
  background-color: #333333,
  text-color: $text-color-light,
  primary-color: #8e44ad,  // Example dark theme primary color
);

@mixin apply-theme($theme) {
  background-color: map-get($theme, background-color);
  color: map-get($theme, text-color);
}


.container-xxl {
  max-width: 1680px!important;
}