.calculator {
  background-color: var(--background-color-light)!important;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
}


.calculator-display {
  background-color:var(--form-control-background-dark);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.calculator-input {
  font-size: 1.5em;
  text-align: right;
}

.calculator-result {
  font-size: 2em;
  text-align: right;
  margin-top: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-buttons button {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
}

.calculator-buttons button:hover {
  background-color: #3d3d3d;
}

.calculator-buttons button:active {
  background-color: #4e4e4e;
}


.dark .calculator {
  background-color: var(--dark-background)!important;
}

.dark .calculator-buttons button {
  background-color: #f4f7f90d;
}


.MuiButtonBase-root .MuiPickersDay-root .Mui-selected {
  background-color: rgb(100, 141, 174)!important;
}