/* General styles for the calculator */
.percentage-difference-calculator .result h6 {
  text-align: center;
}

.percentage-difference-calculator .form-control {
  width: 50%;
  flex: none;
}

.percentage-difference-calculator .form-group {
  justify-content: space-between;
  margin-bottom: 1rem;
}


.percentage-difference-calculator .result h6 {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
  font-size: .9rem;
}