/* src/components/ButtonBar.css */
.button-bar {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ced4da;
  display: flex;
  justify-content: flex-start;
  background-color: inherit;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-bar .btn {
  border-radius: 5px;
  padding: 5px 10px;
}
