/* src/components/ButtonBar.css */
.button-bar {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ced4da;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: inherit;
}

.dropdown-toggle {
  border-radius: 5px;
  padding: 5px 10px;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}
