.rbc-header {
  border-bottom: 1px solid var(--border-color);
}

.rbc-calendar {
  color: var(--text-color);
}

.rbc-toolbar button {
  color: var(--text-color);
  border:1px solid var(--border-color);
}