/* src/components/DividendInfo/DividendInfo.css */
.dividend-info {
}

.suggestion-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.suggestion-ticker {
  font-weight: bold;
}

.suggestion-name {
  color: #666;
}

