// src/components/NewsFeed/NewsFeed.scss

.news-feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color:var(--background-color);

  // Tablet layout: 3 columns

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }


  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }





  // Desktop layout: 4 columns


}

.news-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  background-color:var(--background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  color:var(--text-color);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  position: relative;
  &:hover {
    transform: translateY(-5px);
  }
}

.news-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-content {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.news-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.news-date {
  font-size: 0.85rem;
  color:var(--text-color);
}

.news-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
